body {
}

.Encabezado{    
    padding: 10px 10px 10px 10px;
}

.NavAjuste{
    margin: 1vw 1vw;    
}

.NavAjuste > li:hover{
    background-color:aqua;
}

.ContenedorPrincipal{
    margin-top: 2vw;
    padding-top: 2vw;
}

.Contenido{
    margin: 0px;
    padding: 0px;
}

.Buscador{
    background-color:gainsboro;
    margin-left:1vw;
}